In [1]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [16]:
#Connect to Website
URL='https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ'
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
page=requests.get(URL,headers=headers)
soup1=BeautifulSoup(page.content,'html.parser')
soup2=BeautifulSoup(soup1.prettify(),'html.parser')
title=soup2.find(id='productTitle').get_text()
Price=soup2.find('div',{"class":"a-section a-spacing-none aok-align-center"}).get_text()
Price

'\n\n\n                  $16.99\n                 \n\n\n                   $\n                  \n\n                   16\n                   \n                    .\n                   \n\n\n                   99\n                  \n\n\n'

In [18]:
price=Price.strip()[1:6]
title=title.strip()
today=datetime.date.today()
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [19]:
import csv
header=['title','price','Date']
data=[title,price,today]
with open('Amazonwebscrapper.csv','w',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [20]:
import pandas as pd
pd.read_csv('Amazonwebscrapper.csv')

                                               title  price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-11-24

In [36]:
#appending data to the csv
with open('Amazonwebscrapper.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [37]:
pd.read_csv('Amazonwebscrapper.csv')

  Funny Got Data MIS Data Systems Business Analyst T-Shirt  16.99  2022-11-24
0  Funny Got Data MIS Data Systems Business Analy...        16.99  2022-11-24
1  Funny Got Data MIS Data Systems Business Analy...        16.99  2022-11-24